// -------------------------
// --- You can add your custom CSS here and it will overwrite template styles.
// -------------------------

.custom-toast {
    background: #8CC63E;
    text-align: center;
    font-weight: 550;
}